* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Lekton", monospace;
  font-style: normal;
  overflow: hidden; /* Changed from 'none' to 'hidden' */
  /* border: 1px solid black; */
  /* border: 1px solid black; */
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}
/* smooth scrolling */
html {
  scroll-behavior: smooth;
}
.flex {
  display: flex;
}
p {
  line-height: 1.7;
}
.hidden {
  display: none;
}
body {
  color: rgba(255, 255, 255, 0.55);
  background: #26262d;
}
.typing {
  white-space: nowrap;
  overflow: hidden;
}
/* .canvas {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2000;
}
.lines{
  opacity: 0.05;
}
.lights{
  opacity: 1;
}
.light,.line{
  fill: #f6b846 !important;
  fill-rule: evenodd;
  clip-rule: evenodd;
  
}
.canvas-cyberlines {
  background-color: #161616 !important;
  display: flex;
  justify-content: center;
  background: #222;
} */
.container {
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  /* place-content: center; */
}
/* navbar starts */
.navbar {
  margin-right: 5px;
  background: #222;
  /* flex-direction: column; */
  justify-content: last baseline;
  width: 6%;
  height: 350px;
  padding: 5px 0 5px 0;
  position: sticky;
  border-radius: 5px;
}
.navbar ul {
  flex-direction: column;
}
.navbar ul li {
  list-style: none;
}
.mini-profile {
  display: none;
}
.navbar a {
  width: 100%;
  /* height: fit-content; */
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.navbar a::after {
  background: radial-gradient(
    ellipse at right,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.navbar a:hover {
  color: #f6b846;
}
.navbar a.active {
  color: #f6b846;
}
.navbar a .nav-item-icon {
  font-size: 20px;
}
.navbar a .nav-item-text {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
}
/* navbar ends */
/* profile card starts */
.underlay {
  background: linear-gradient(
    135deg,
    rgba(246, 184, 70, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
  content: "";
  position: absolute;
  left: 11%;
  top: 3%;
  width: 35%;
  height: 88%;
  opacity: 0.3;
  z-index: -10;
  border-radius: inherit;
}
.profile-card {
  background-image: url("../img/img.webp");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  width: 35%;
  /* width: 480px; */
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0.1px 0.1px 20px rgb(29, 29, 29);
  position: relative;
  z-index: 1;
  border-radius: 4px;
}

.profile-pic {
  /* place-content: center; */
  position: absolute;
  left: 0;
  right: 0;
  top: -35px;
  bottom: 0;
  /* border-radius: 200px; */
  margin: auto;
  z-index: 100;
}
.profile-pic::before {
  background: linear-gradient(
    135deg,
    rgba(246, 184, 70, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
  content: "";
  position: absolute;
  top: -5px;
  left: -20px;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 140px;
  height: 140px;
  border-radius: 100%;
}
.profile-pic img {
  position: absolute;
  border: #222 solid 4px;
  width: 140px;
  /* height: 100px  ; */
  left: 0%;
  right: 0;
  top: -25px;
  bottom: 0;
  border-radius: 200px;
  margin: auto;
  z-index: 100;
}
.bubble {
  position: relative;
  height: 52%;
  bottom: 0;
}
.bubble::after {
  content: "";
  border-top-left-radius: 50%100%;
  border-top-right-radius: 50%100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* height: 14%; */
  height: 50px;
  width: 100%;
  background-color: #222;
  /* z-index: 100; */
}
.profile-text {
  /* width: auto;*/

  /* padding: 40px; */
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.85);
  /* height: 20%;  */
}
.profile-text h1 {
  padding: 20px 0 0 5px;
  font-size: 34px;
}
.profile-text .skill {
  padding: 5px 0;
  font-size: 16px;
  color: #f6b846;
}
.profile-buttons {
  width: 100%;

  position: relative;
}
.profile-buttons::before {
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  /* background: red; */
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  z-index: 300;
}
.profile-buttons button {
  width: 50%;
  padding: 25px;
  cursor: pointer;
  background-color: #222;
  color: rgba(255, 255, 255, 0.85);
  /* border: white 1px solid; */
  border: none;
}
.profile-buttons .l {
  position: relative;
}
.profile-buttons .l::before {
  background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  z-index: 300;
}
.icons {
  gap: 10px;
  place-content: center;
}
/* profile card ends */
.slider {
  width: 47%;
  /* width: 650px; */
  height: 83%;
  /* padding: 30px; */
  background-color: #222;
  overflow-y: auto;
  z-index: 1;
  /* border: 1px solid black; */
}
.slider .slider-content {
  display: none;
  margin-top: 2rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.slider .slider-content.active {
  display: block;
  margin-top: 0;
  opacity: 1;
}
.slider .slider-title::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;
  background: linear-gradient(
    135deg,
    rgba(246, 184, 70, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
}
.slider .slider-title {
  font-size: 20px;
  padding: 25px 30px;
  color: #ffff;
  font-weight: 500;
  position: relative;
  width: 100%;
}
.slider .slider-title::after {
  content: "";
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.slider .about-me {
  padding: 30px 30px;
  line-height: 1.7;
}
.facts {
  /* justify-content: space-between; */
  /* gap: 150px; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  /* padding: 20px; */
}

.facts div.flex {
  justify-content: space-between;
  flex-wrap: wrap;
}
.facts div.flex span {
  color: #ffffffe6;
}

.services {
  position: relative;
}
.service {
  padding: 30px;
  position: relative;
  /* width: 50%; */
}
.slider .icon-ring {
  position: relative;
  width: 60px;
  height: 60px;
  font-size: 32px;
  border-radius: 100%;
  color: #f6b846;
  border: #f6b846 1px solid;
}
.icon-ring .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.service-title {
  color: #ffffffd9;
}
.services::after {
  content: "";
  background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 1px;
  height: 100%;
}
.services .service::after {
  content: "";
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.resume-stuff {
  padding: 0 20px;
  /* justify-content: space-between; */
}
.experience,
.education {
  width: 50%;
}
.resume-heading {
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px 10px;
}
.resume-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}
.resume-stuff-item {
  padding: 30px 15px;
  position: relative;
}
.resume-stuff-item .time-range.active {
  color: #f6b846;
  border: 1px #f6b846 solid;
}
.resume-stuff-item .time-range {
  color: #666666;
  border: 1px #666666 solid;
  width: 103px;
  border-radius: 4px;
  font-size: 13px;
  padding: 0 5px;
  margin: 0 0 11px;
  position: relative;
}

.resume-stuff-item .title {
  color: #ffffffe6;
  font-size: 17px;
  font-weight: bold;
}
.resume-stuff-item .title-sub {
  color: #999999;
  font-size: 14px;
  margin: 4px 0 11px;
}
.resume-stuff-item .recommend {
  font-size: 14px;
  font-weight: bold;
  color: #ffffffe6;
  margin: 10px 0 0;
}
.resume-dot {
  position: relative;
}
.resume-dot.active::before {
  background-color: #f6b846;
}
.resume-dot::before {
  content: "";
  position: absolute;
  top: 16%;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  /* z-index: 100; */
  background-color: #666666;
}

.resume-stuff-item.first::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  height: 80%;
  width: 1px;
  /* background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  ); */
  background: rgba(197, 202, 213, 0.15);
}
.resume-stuff-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  height: 100%;
  width: 1px;
  /* background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  ); */
  background: rgba(197, 202, 213, 0.15);
}
.resume-stuff-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  height: 1px;
  width: 100%;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}
.coding,
.knowledge {
  width: 50%;
}
.get-touch {
  padding: 20px;
}

.works-list {
  /* flex-direction: column; */
  position: relative;
}
.work{
  
  position: relative;
  padding: 20px 25px;
  transition: all 0.5s ease-in-out;
}
.work:hover{
  color: #f6b846;
}
.work::after{
  content: "";
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  position: absolute;
  bottom: 0;
  left: 10px ;
  margin: auto;
  width: 100%;
  height: 1px ;
}
.works-list::after {
  
    content: "";
    background: radial-gradient(
      ellipse at top,
      rgba(197, 202, 213, 0.15) 0%,
      rgba(255, 255, 255, 0) 70%
    );

    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 1px;
    height: 100%;
  }

.works-list a {

  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
.works-list b {
  font-size: 17px;
  /* position: absolute; */
  font-weight: 600;
  left: 0;
  right: 0;
  margin: auto;
}

.contact-form {
  padding: 30px;
}
.contact-form input,
.contact-form textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-family: "Poppins";
  font-size: 16px;
  /* color: #ffffffd9; */
  transition: all 0.1s ease-in;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 0;
  border-bottom: 2px #f6b846 solid;
  color: #f6b846;
}
.name-email {
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 13px;
}
.name-email input {
  width: 48.2%;
  height: 50px;
}
.form-message {
  width: 100%;
  height: 120px;
  margin: 30px 0;
}
.form-submit {
  font-size: 14px;
  color: #ffffffe6;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.form-submit:hover {
  color: #f6b846;
}
@media all and (max-width: 1125px) {
  * {
    overflow-y: auto;
  }
  .navbar {
    width: fit-content;
    position: fixed;
    top: 23%;
    left: 5%;
    z-index: 10;
  }
  .container {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 10px;
    /* flex-grow: 1; */
  }
  .profile-card {
    margin: 20px 0 0 0;
    width: 67%;
    height: 100vh;
    max-height: 780px;
  }
  .slider {
    width: 67%;
  }

  .underlay {
    width: 67%;
    height: 100vh;
  }
}

@media all and (max-width: 680px) {
  /* .navbar ,ul, li{
    border: 1px solid black;
  } */
  .navbar ul {
    flex-direction: row;
    /* display: flex; */

    /* overflow-x: auto; */
    width: 100%;
    position: relative;
    overflow-x: auto;
  }
  .navbar ul li {
    flex-grow: 1;
  }
  .navbar ul::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 1px;
    /* background: red;  */
    background: radial-gradient(
      ellipse at left,
      rgba(197, 202, 213, 0.15) 0%,
      rgba(255, 255, 255, 0) 70%
    );
  }
  .navbar {
    /* overflow-y: hidden; */
    height: fit-content;
    width: 100%;
    left: 0;
    /* flex-direction: row; */
    position: fixed;
    z-index: 2;
    top: 0;
  }
  .navbar a {
    padding: 10px 20px;
    /* width: fit-content; */
  }
  .navbar a::after {
    background: radial-gradient(
      ellipse at top,
      rgba(197, 202, 213, 0.15) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 90%;
  }
  .underlay {
    width: 90%;
    /* height: 100vh; */
    left: 3%;
    top: 3%;
  }
  .profile-card {
    margin: 100px 0 0 0;
    width: 100%;
  }
  .slider {
    width: 100%;
    height: 500px;
    /* display: none; */
  }
  .mini-profile {
    display: block;
    padding: 0 10px;
    /* border-color: radial-gradient(
        ellipse at left,
        rgba(197, 202, 213, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%
      )
      1px solid; */
  }
  .mini-profile img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
  }
  .mini-profile div.flex {
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
  }
  .mini-profile p {
    flex-direction: column;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.85);
  }

  .mini-profile p span {
    font-size: 12px;
    color: #f6b846;
  }
  .services {
    flex-direction: column;
  }
  .services::after {
    display: none;
  }
  .resume-stuff {
    flex-direction: column;
  }
  .name-email input {
    width: 100%;
  }
  .slider .about-me {
    padding: 20px;
  }
}
